body {
    background-color: #eaeaea;
}
#header-acronymes {
    z-index: 10;
    /*background-color: #ffd700; */
}
#header-logos {
    z-index: 10;
    background-color: #7fe735;
}
.logo-image {
    width: 150px;
    height: 150px;
} 
.info-icon img {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
}
.info-icon {
    margin-top: 15%;
     color: rgb(38, 96, 171);
}
/*
#span-contact {
    color: rgb(38, 96, 171);
} */
#logo-anor {
    padding-right: 60px;
}
.navbar {
    margin-bottom: 0px;
}
#header-content {
    
}
.menu-icon-image {
    width: 30px;
    height: 30px;
}
.nav.navbar-nav {
    width: 100%;
    font-size: 16px;
    color: #7fe735;
}
.nav.navbar-nav li {
    width: 16%;
    text-align: center;
}
@media screen and (max-width: 765px) {
    .nav.navbar-nav li {
        width: 110%;
        text-align: center;
        font-size: 14px;
        height: 26px;
    }
    .nav.navbar-nav li span{
        position: absolute;
        top: 0px;
        left: 0; 
        right: 0; 
    }
    .nav.navbar-nav li a{
        height: 26px !important;
    }/*
    .nav.navbar-nav li.active a{
        height: 26px !important;
        background-color: #333;
        background-image: none;
    }*/
    .nav.navbar-nav li.active {
        margin-bottom: -30px:
    }
    .nav.navbar-nav li.active + li {
        margin-top: -30px !important:
    }
    .nav.navbar-nav li.active + li a {
        margin-top: -30px !important:
        padding: 0px;
    }
    #image-accueil {
        width: 100%;
    }
}
@media screen and (max-width: 990px) {
    #logo-mines, #logo-anor, .info-icon {
        display: none;
    }
}

.pull-right.row.hidden-xs {
    margin-right: 60px;
}

/* asside menu */
#asside h4 {
    text-align: center;
}
#counter-image{
    width: 40px;
    height: 40px;
}
#content-actualite {
    padding: 10px;
    background: #ccf6c9;
    height: 150px;
}

#content-photos {
    padding: 10px;
    height: 250px;
    background: #ccf6c9;
}
#display-content{
    min-height: 400px;
    background-color : #fff;
    padding: 10px 10px 50px 10px;
    text-decoration: justify;
}
#upper-content {
    padding: 0px 15px 0px 15px;
}
#logo-image-min {
    width: 120px;
    height: 120px;
}
#header-nav-container .navbar-inverse{
    background-image: linear-gradient(to bottom,#ccac3d 0,#F5F220 100%);
    border-color: #EFD339;
}
#header-nav-container .navbar-inverse li.active a{
    background-image: linear-gradient(to bottom,#FFEF3E 0,#e7d155 100%);
}
#content-head {
    background-color: #7fe735;
    padding-bottom: 5px;
}
#header-nav-container .navbar-inverse li.active a, #header-nav-container .navbar-inverse li a:hover{
    color: #444;
}
#header-nav-container .navbar-inverse li a{
    color: #000;
}
#head-navbar .dropdown ul {
    width: 100%;
    background: #EFD339;
}
footer {
    background-color: #7fe735;
    margin-right: 10px;
    padding: 10px;
}
/* Contenu accueil */
.image-page-accueil {
    width: 300px; 
    height: 300px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
#accueil-p {
    text-align: justify;
    text-justify: inter-word;
}
/*A propos */
.image-page-propos {
    width: 100%;
}
/** photos menu-asside */
#content-photos .item {
    height: 230px;
}
.vertical .carousel-inner {
    height: 100%;
}
 
.carousel.vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}
 
.carousel.vertical .active {
    top: 0;
}
 
.carousel.vertical .next {
    top: 400px;
}
 
.carousel.vertical .prev {
    top: -400px;
}
 
.carousel.vertical .next.left,
.carousel.vertical .prev.right {
    top: 0;
}
 
.carousel.vertical .active.left {
    top: -400px;
}
 
.carousel.vertical .active.right {
    top: 400px;
}
 
.carousel.vertical .item {
    left: 0;
}
 
.carousel.vertical .carousel-control {
    width: 100%;
    bottom: inherit;
    top: inherit;
}
 
.carousel.vertical .carousel-control.left {
    top: 0;
}
.carousel-caption {
    cursor: pointer;
}
#modal-galerie .modal-lg {
    width: 100%;
}
#modal-galerie .modal-dialog{
    width: 95%;
}
#modal-galerie .carousel{
    height: 90%;
    margin-bottom: 0px;
}